<div id="<%= dom_id booking %>">
  <p>
    <strong>Event:</strong>
    <%= booking.event_id %>
  </p>

  <p>
    <strong>Ticket:</strong>
    <%= booking.ticket %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= booking.price %>
  </p>

  <p>
    <strong>User:</strong>
    <%= booking.user_id %>
  </p>

</div>
